.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}
.header-counter {
    margin-left: 5%;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}
