.shopping-container {
	overflow: scroll; 
	position: fixed;
	top: 50%;
	left: 50%;
	width: 97%;
	height: 97vh;
	margin: auto;
	padding: var(--spacing-large);
	transform: translate(-50%, -50%);
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);
	z-index: 99999997; 
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
}
.shopping__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	background-image: url(img/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}






@media (min-width: 240px) and (max-width: 360px) {

.pop-icon {
   margin-left: 5%;	
    cursor: pointer;
}


}








@media (min-width: 420px) and (max-width: 1420px) {

.pop-icon {
   margin-left: 95%;	
    cursor: pointer;
}


}











