.products-container {
	display: grid;
        grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	width: 100%;
	max-width: 1400px;
	margin: 1% auto;
        





}
.products-element {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 25px 20px;
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);
        -webkit-box-shadow: 8px 10px 8px 0px rgba(233, 63, 244, 0.39);
        -moz-box-shadow: 8px 10px 8px 0px rgba(233, 63, 244, 0.39);
        box-shadow: 8px 10px 8px 0px rgba(233, 63, 244, 0.39);


}
.products-element__name {
	margin-bottom: auto;
	text-transform: uppercase;
	font-weight: bold;
}
.products-element__img {
	width: 100%;
	height: 200px;
	margin-top: var(--spacing-medium);
	object-fit: contain;
       
}






.products-element__price {
	margin-top: var(--spacing-medium);
	color: var(--color-unaccent);
}
.products-element__btn {
	margin-top: var(--spacing-medium);
	padding: var(--spacing-small) var(--spacing-medium);
	border: 1px solid var(--color-unaccent);
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}
.products-element__btn_active {
	border: 1px solid transparent;
	background-image: var(--linear-gradient);
}
